// Config
@import "./config/_variables.scss";
@import "./config/_reset.scss";

// Components

@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/video.scss";
@import "./components/shared.scss";
@import "./components/forms.scss";
@import "./components/social-login.scss";
@import "./components/video-player.scss";

// Screens

@import "./screens/search.scss";
@import "./screens/profile.scss";
@import "./screens/edit-profile.scss";
@import "./screens/upload.scss";
@import "./screens/watch.scss";
@import "./screens/wook.scss";
// Defaults
a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Francois One", "Single Day", "Varela Round", sans-serif,
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue";
  background-color: $bg;
  color: white;
}

.container {
  position: relative;
  width: 1200px;
}

.logo__background {
  display: flex;
  flex-direction: column;
  background-color: #0e1117;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
}

.mainwook {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
}

main {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
}

@keyframes goAway {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}

#canvas {
  z-index: 99;
  pointer-events: none;
  position: fixed;
  top: 0;
  transform: scale(1.1);
}

.message {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 200px;
  padding: 10px 20px;
  border-radius: 10000px;
  text-align: center;
  animation: goAway 0.5s ease-in-out forwards;
  animation-delay: 5s;
  &.error {
    background-color: tomato;
    color: white;
  }
}
