.video__data {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  .video__title {
    font-size: 26px;
    margin-bottom: 5px;
  }
  .video__createdAt {
    font-size: 12px;
  }
  .video__owner {
    margin-bottom: 5px;
    font-size: 14px;
    a {
      color: cornflowerblue;
      text-decoration: underline;
    }
  }
}

#comment_user {
  margin-bottom: 10px;
}

button {
  cursor: pointer;
}

.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  .video__comment__container {
    display: flex;
    flex-direction: row;
  }
  .video__comment {
    padding: 10px;
    width: 100%;
    border-radius: 15px;
    background-color: white;
    color: black;
    margin-bottom: 10px;
  }
  span {
    margin: 5px;
  }
  .remove_comment {
    font-size: 3px;
    cursor: pointer;
  }
}

@media screen and (max-width: 500px) {
  .video__add-comments {
    width: 90%;
    textarea {
      width: 100%;
    }
  }
  .video__comments {
    .video__comment__container {
      justify-content: center;
    }
    .video__comment {
      padding: 10px;
      margin-left: 5px;
      width: 80%;
      border-radius: 15px;
      background-color: white;
      color: black;
      margin-bottom: 10px;
    }
  }
}
