header {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__logo {
    color: $red;
    font-size: 38px;
  }
  .homeTitle {
    color: white;
  }
  ul {
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    align-items: center;
    li {
      margin-left: 30px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
    }
    i {
      font-size: 16px;
    }
  }
  .header__btn {
    background-color: white;
    color: $bg;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .header__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

//μ¤λ§νΈν°
@media screen and (max-width: 500px) {
  header {
    width: 90%;
    padding-left: 10px;
    padding-top: 10px;
    .header__logo {
      font-size: 18px;
    }

    nav {
      margin-left: 5px;
      padding-left: 10px;

      ul {
        right: 10;
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
          text-align: center;
          margin-left: 5px;
          margin-right: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
  }
}
