div.social-login
    //- a(href="/users/github/start").social__btn.social__btn
    //-     i.fab.fa-github
    //-     |  Continue with Github &rarr;
    div(style={color: 'black', background:'yellow',  padding: "20px"})
        a(href="/users/kakao/start")
            i.fas.fa-comment
            |  Continue with Kakao &rarr;